@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');



 *{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Red Hat Display', sans-serif;
  
} 


section{
  position: relative;
  width: auto;
  margin: auto;
  padding: 20%;
  
}
  

body{
  background-image: url("pattern-background-desktop.svg");
  background-repeat: no-repeat;
  object-fit:cover;
}

/* section img{
  background-repeat: no-repeat;
} */


.showcase{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  /* box-shadow: 100px 100px  8px lightgray; */
  

}

.showcase h2{
  font-size: 3em;
  /* font-weight: bold; */
}

.showcase p{
  color:gray;
  
}

.showcase img{
  border: none;
  border-radius: 20px;
}

.icon{
  width: 400px;
  height: 100px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  border-radius: 20px;
}



.text{
  width:230px;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icon a{
  margin-right: 20px;
}


.bt1{
  font-size: 20px;
  height: 80px;
  width: 450px;
  background: hsl(245, 75%, 52%);
  color: #fff;
  border: none;
  border-radius: 20px;
}

.bt2{
  font-size: 20px;
  height:80px;
  width: 450px;
  background:hsl(225, 100%, 94%);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
}